.alignfull {
     margin-left: calc(50% - 50vw);
     margin-right: calc(50% - 50vw);
    /* width:calc(100% + 31.5vw);*/
}
.alignwide {
     margin-left: calc(25% - 25vw);
     margin-right: calc(25% - 25vw);
}
.wp-block-cover, .wp-block-cover-image {
    margin-top:3em;
    margin-bottom:3em;
    margin-left: calc(50% - 50vw);
    width: calc(100vw + 0%);
}
.single .wp-block-cover, .single .wp-block-cover-image {
		margin-left: calc(50% - 37vw);
		width: calc(100vw - 77%);
}
.single .alignfull {
		margin-left: calc(50% - 37vw);
		margin-right: unset;
}
.single .wp-block-image.alignfull img, .single .wp-block-image.alignwide img {
	width: 128%;
	max-width: unset;
}
.single .entrytext li {
	margin-left: 3em;
	font-size: 1.5vw;
	line-height: 2.5vw;
}
.has-text-align-right {
		text-align:right!important;
}
.has-text-align-left {
		text-align:left!important;
}
.has-text-align-center {
		text-align:center!important;
}
.is-style-wide {
    border-bottom-width: 0;
    margin: 4em -17.76%;
}
.is-style-default, .is-style-dots {
    margin: 4em 20%;
}

/*Mobile Resets */
@media screen and (max-width: 782px) {
	.alignfull {
    	margin-left: calc(50% - 55vw);
    	margin-right: calc(50% - 45.5vw);
    	/* width: calc(100% + 31.5vw); */
	}
	.wp-block-cover, .wp-block-cover-image {
    	margin-top: 3em;
    	margin-bottom: 3em;
    	margin-left: calc(50% - 54.5vw);
    	width: calc(100vw + 0%);
	}
	.single .wp-block-cover, .single .wp-block-cover-image {
    	margin-left: calc(50% - 50vw);
    	width: calc(100vw + 0%);
	}
}
@media screen and (max-width: 425px) {
	.alignfull {
    	margin-left: calc(50% - 55vw);
    	margin-right: calc(50% - 50vw);
    	/* width: calc(100% + 31.5vw); */
	}
	.wp-block-cover, .wp-block-cover-image {
    	margin-top: 3em;
    	margin-bottom: 3em;
    	margin-left: calc(50% - 54.5vw);
    	width: calc(100vw + 6%);
	}
}
